@import 'reset';
@import 'variables/global';

.app.app_modal {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  font: var(--font-m);
  color: var(--primary-color);
  min-height: 100vh;
}
