@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,600;0,700;1,400&display=swap');
@import 'reset';
@import 'variables/global';

.app.app_modal {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  font: var(--font-m);
  color: var(--primary-color);
  min-height: 100vh;
}
